@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
  .logo__title {
    margin-right: 0;
  }

  .ellipse {
    right: 0px;
  }

  .neon__item:first-child {
    left: -59px;
  }

  .neon__item:nth-child(2) {
    left: -135px;
  }

  .neon__item:nth-child(3) {
    left: -103px;
  }

  .neon__item:nth-child(4) {
    left: 323px;
  }
}
@media (max-width: 1130.98px) {
  .hero {
    flex-direction: column;
  }

  .hero__pic {
    margin: 0 auto;
  }

  .hero__img {
    display: flex;
    margin: 12px auto 0;
  }

  .ellipse {
    right: 50%;
    transform: translateX(50%);
  }

  .hero__info {
    text-align: center;
    margin: auto;
  }

  .hero__welcome,
  .hero__title,
  .hero__sub-title {
    text-align: left;
  }

  .neon__item:first-child {
    left: 1px;
  }

  .neon__item:nth-child(2) {
    left: -76px;
  }

  .neon__item:nth-child(3) {
    left: -43px;
  }

  .neon__item:nth-child(4) {
    left: 383px;
  }
}
@media (max-width: 991.98px) {
  .nav__link:not(:last-child) {
    margin-right: 60px;
  }
  .hero__welcome {
    margin-top: 150px;
  }
}

@media (max-width: 767.98px) {
  .nav__link:not(:last-child) {
    margin-right: 30px;
  }

  .nav__link:last-child {
    margin-right: 30px;
  }
  .hero__welcome {
    margin-top: 100px;
  }
}
@media (max-width: 670.98px) {
  .hero__img {
    width: 470px;
    height: auto;
  }

  .ellipse {
    width: 515px;
    height: 515px;
  }

  .neon__item:nth-child(2) {
    left: -64px;
  }

  .neon__item:nth-child(3) {
    left: -10px;
  }

  .neon__item:nth-child(4) {
    left: 353px;
    top: 125px;
  }
  .hero__welcome {
    margin-top: 70px;
  }
}
@media (max-width: 630.98px) {
  .nav__link:not(:last-child) {
    margin-right: 15px;
  }

  .nav__link:last-child {
    margin-right: 15px;
  }
}
@media (max-width: 575.98px) {
  /* Меню, которое будет появляться */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 70px;
    background: #313131;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 9999;
  }

  .menu.active {
    transform: translateX(0);
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center;
    position: fixed;
  }

  .menu.active .nav__link a {
    font-size: 38px;
    line-height: 40px;
  }

  .menu-btn {
    cursor: pointer;
    position: relative;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 99999;
  }

  .menu-global {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    border-top: 3px solid white;
    width: 100%;
    transition: 0.55s;
  }

  .menu-top {
    top: 0;
  }

  .menu-middle {
    top: 13.5px;
  }

  .menu-bottom {
    top: 27px;
  }

  .menu-top-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(50deg);
    transition: 0.55s 0.5s;
  }

  .menu-middle-click {
    opacity: 0;
  }

  .menu-bottom-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(-410deg);
    transition: 0.55s 0.5s;
  }

  .hero__welcome {
    margin-top: 50px;
  }

  .hero__welcome {
    font-size: 40px;
    line-height: 42px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
  }
}
